IIS_Projekt_Java_Zadatak04/JAXB/xml-resources/jaxb/Game/Game.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="games">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="game">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="idGame" type="xs:unsignedByte" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="thumbnail" type="xs:string" />
              <xs:element name="gameUrl" type="xs:string" />
              <xs:element name="genre" type="xs:string" />
              <xs:element name="platform" type="xs:string" />
              <xs:element name="publisher" type="xs:string" />
              <xs:element name="developer" type="xs:string" />
              <xs:element name="releaseDate" type="xs:string" />
              <xs:element name="freeToGameProfileUrl" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>